.title-container {
  margin: 0 0 32px 0;
}

.payment-option-card .top-label {
  max-width: fit-content;
  z-index: 2;
  top: 14px;
}

.payment-option-card-container .MuiPaper-root {
  margin: 0 0 40px 0;
}
