.footer {
  margin: 40px 0 109px 0;
}

.woovi-logo-footer {
  position: relative;
  bottom: 1px;
  margin-left: 6px;
}

.footer-text-span {
  font-size: 14px;
  font-weight: var(--font-semi-bold);
  color: var(--payment-due-date);
}

.safety-icon-footer {
  margin-right: 6px;
}
