.top-label {
  position: relative;
  left: 20px;
  background-color: #fff;
  padding: 0 18px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: var(--font-extra-bold);
  background: var(--border-color);
  border-radius: 20px;
}
