.label-monetary {
  gap: 8px;
}

.label-monetary-text {
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 24px;
  line-height: 32.74px;
}

.label-installments {
  font-weight: 800;
}
.label-value {
  font-weight: 600;
}
