.label-monetary {
  gap: 8px;
}

.label-monetary-text {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 24px;
  line-height: 32.74px;
}

.label-installments {
  font-weight: 800;
}
.label-value {
  font-weight: 600;
}

.label-benefit {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.label-highlight {
  background-color: var(--tertiary-color);
}
