:root {
  --primary-font: "Nunito", sans-serif;
  --primary-color: #4d4d4d;
  --secondary-color: #03d69d;
  --tertiary-color: #133a6f;
  --border-color: #e5e5e5;
  --amount-color: #afafaf;
  --payment-due-date: #b2b2b2;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
}

body {
  font-family: var(--primary-font);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
