:root {
  --primary-font: "Nunito", sans-serif;
  --text-color: #4d4d4d;
  --border-color: #e5e5e5;
}

body {
  font-family: var(--primary-font);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}
