.payment-option-list {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: visible;
}

.payment-option-item:not(:last-child) {
  border-bottom: 2px solid var(--border-color);
}

.payment-option-item {
  display: flex;
}

.payment-option-list .top-label {
  position: relative;
  bottom: 14px;
  max-width: fit-content;
  font-size: 18px;
}
